:root {
	--black: #111;
	--violet: #4f2ee8;
	--yellow: #eac645;
	--white: #fff;
	--backgroundColorLight: #f3f3f3;
	--backgroundColorDark: #202024;
	--main-transition-set: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	margin: 0;
	background-color: var(--backgroundColorLight);
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	gap: 255px;
	width: 1440px;
	height: 72px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 1.5px;
	border: 1.5px solid #111111;
	background-color: var(--white);
}

.menu p {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.18px;
	text-transform: uppercase;
	color: var(--black);
}

.button_place {
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 64px;
	width: 499px;
	border-radius: 40px;
	background-color: var(--white);
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.18px;
	text-transform: uppercase;
	color: var(--black);
	border: 2px solid var(--violet);
	cursor: pointer;
	transition: var(--main-transition-set);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
	border-radius: 40px;
	background: var(--violet);
	color: var(--white);
	box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
	transform: translateY(-6px);
}

#darkSwitch {
	display: none;
}

label {
	width: 40px;
	height: 20px;
	position: relative;
	display: block;
	background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
	border-radius: 200px;
	cursor: pointer;
	/* kolorystyka ściągnieta bezpośrednio z figma */
}

label:after {
	content: "";
	width: 18px;
	height: 18px;
	position: absolute;
	top: 1px;
	left: 1px;
	background: rgba(247, 247, 247, 1);
	border-radius: 180px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

label p {
	display: none;
}

input {
	width: 0;
	height: 0;
	visibility: hidden;
}

input:checked + label {
	background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
	/* kolorystyka ściągnieta bezpośrednio z figma */
}

input:checked + label:after {
	right: 24px;
	transform: translateX(110%);
	background: rgba(255, 255, 255, 1), rgba(247, 247, 247, 1);
}

label,
label:after {
	transition: 0.3s;
}

[data-theme="dark"] {
	background-color: var(--backgroundColorDark);
	color: #eee;
}

[data-theme="dark"] .menu {
	background-color: var(--black);
	border: 1.5px solid var(--white);
}

[data-theme="dark"] .menu p {
	color: var(--white);
}

[data-theme="dark"] .button {
	background-color: var(--backgroundColorDark);
	color: var(--white);
}

[data-theme="dark"] .button:hover {
	border-radius: 40px;
	background: var(--violet);
	color: var(--white);
	transition: var(--main-transition-set);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}
